{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'palapp/style.css' %}">


<head>
    <title>datetime - Django Fecha en Espa&#241;ol - Stack Overflow en espa&#241;ol</title>
    <link rel="shortcut icon" href="https://cdn.sstatic.net/Sites/es/Img/favicon.ico?v=9c017e88b153">
    <link rel="apple-touch-icon" href="https://cdn.sstatic.net/Sites/es/Img/apple-touch-icon.png?v=7739871010e6">
    <link rel="image_src" href="https://cdn.sstatic.net/Sites/es/Img/apple-touch-icon.png?v=7739871010e6">
    <link rel="search" type="application/opensearchdescription+xml" title="Stack Overflow en espa&#xF1;ol" href="/opensearch.xml">
    <link rel="canonical" href="https://es.stackoverflow.com/questions/229561/django-fecha-en-espa%c3%b1ol" />

<form action="{% url 'palapp:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Votar">
</form>